.container {

    /* width: auto; */
    /* display: flex;
    flex-direction: column; */
    background: url('../../asset/home/bg1.jpg');
}

.welcome {

    text-align: left;
    color:white;
    font-size: 50px;
    background-repeat:no-repeat;
    background-size:cover;
  
}
.tonubi {

    text-align: left;
    color:white;
    font-size: 30px;
}

.ar {

    text-align: left;
    color:white;
    font-size: 20px;
}

.p {

    text-align: left;
    color: white;
}
.banner {
    margin-top: 4em;
    width: 400px;
}
.div_pg {
    margin-top: 4em;
}
.div_dw {

    width: 150px;
}
.div_dw2 {

    width: 150px;
}
.loggo {

    margin-top: 2em;
    width: 150px;
    margin-right: 20em;
    position:sticky;
}
.hp3 {

  
    width: 500px;
}
.earn {

    width: 150px;
    margin-right: 1em;
    margin-left: -10px;
    margin-bottom: 2em;
    margin-top: 1em;
}
.earn2 {

    width: 150px;
    margin-right: 1em;
    margin-left: -10px;
    margin-bottom: 2em;
    margin-top: 1em;
}
.textearn {

    color: white;
    margin-left: 10px;
}
.arr {

    text-align: left;
    color:white;
    font-size: 50px;
}

.partner {

    margin-top: 4em;
    font-size: 30px;
    color: #1a92d7;
}
.faq {

    margin-top: 4em;
    font-size: 30px;
    color: #1a92d7;
}
.media {

    margin-top: 4em;
    font-size: 30px;
    color: white;
}

.box {

    background: white;
    border: 1px solid blue;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    width: 400px;
    flex-wrap: wrap;
  

}
.textBox {
    margin-top: 1em;
    margin-bottom: 1em;
  
    margin-left: 1em;
}
.arrowD {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
    margin-left: 3em;
    /* width: 150px; */
  
}



@media screen and (max-width: 359px) {
  .partner {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .media {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .faq {
    margin-top: 3em;
    margin-bottom: 1em;
  }
    .box {

    width: 200px;
   }
    .arr {
        font-size: 25px;
    }
    .earn2 {

        margin-top: -1em;
    }
    .hp3 {

  
        width: 250px;
    }
   
    .div_dw2 {

        margin-top: -5em;
    }
    .banner{

        margin-left: 1em;
         width: 200px;
     
     }
     .loggo{
        width: 150px;
        margin-right: 1em;
        margin-bottom: 1em;
     }
  
  }
@media screen and (max-width: 480px) {
    .partner {
        margin-top: 2em;
        margin-bottom: 1em;
      }
      .media {
        margin-top: 1em;
        margin-bottom: 1em;
      }
      .faq {
        margin-top: 3em;
        margin-bottom: 1em;
      }
    .box {

        width: 250px;
       }
    .earn2 {

        margin-top: -1em;
    }
    .hp3 {

  
        width: 250px;
    }
    .arr {
        font-size: 25px;
    }
    .loggo{
        width: 75px;
        margin-right: 1em;
        margin-bottom: 1em;
     }
  .welcome {
    font-size: 35px;
  }
  .tonubi {
    font-size: 25px;
  }
  .ar {
    font-size: 15px;
  }
  .p {
     font-size: 10px;
  }
  .banner{

    margin-left: 1em;
    width: 250px;
     margin-right: 1em;
 }

}

@media screen and (min-width: 481px) and 
(max-width: 767px) {
    .partner {
        margin-top: 2em;
        margin-bottom: 1em;
      }
      .media {
        margin-top: 3em;
        margin-bottom: 1em;
      }
      .faq {
        margin-top: 3em;
        margin-bottom: 1em;
      }
    .earn2 {

        margin-top: -1em;
    }
    .hp3 {

  
        width: 250px;
    }
    .arr {
        font-size: 25px;
    }
    .loggo{
        width: 75px;
        margin-right: 1em;
        margin-bottom: 1em;
     }
    .banner{

        margin-left:3em;
        width: 400px;
         margin-right: 2em;
     }
}

@media screen and (min-width: 768px) and 
(max-width: 1024px) {
    .earn2 {

        margin-top: -1em;
    }
    .earn {

        margin-top: -1em;
    }
    .hp3 {

        margin-top: 4em;
        width: 400px;
    }
    .arr {
        font-size: 40px;
        margin-bottom: 1em;
    }
    .loggo{
        margin-top: 2em;
    width: 150px;
    margin-right: 11em;
    position:sticky;
     }
    .banner{

        width: 350px;
        margin-top: 4em;
     }
}
